[Desktop Entry]
Name=Kangram Desktop
Comment=Desktop version of Kangram - ToS breaking Telegram client
TryExec=Kangram
Exec=env DESKTOPINTEGRATION=1 Kangram -- %U
Icon=com.ayugram.desktop
Terminal=false
StartupWMClass=Kangram
Type=Application
Categories=Chat;Network;InstantMessaging;Qt;
MimeType=x-scheme-handler/tg;x-scheme-handler/tonsite;
Keywords=tg;chat;im;messaging;messenger;sms;telegram;tdesktop;kangram;
Actions=quit;
DBusActivatable=true
SingleMainWindow=true
X-GNOME-UsesNotifications=true
X-GNOME-SingleWindow=true

[Desktop Action quit]
Exec=Kangram -quit
Name=Quit Kangram
Icon=application-exit
